
@font-face {
    font-family: "Bold";   /*Can be any text*/
    src: local("CaviarDreams_Bold"),
      url("./fonts/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Bold-Italic";   /*Can be any text*/
    src: local("CaviarDreams_BoldItalic"),
      url("./fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
}

